body{
    background-color: #010101;
}
a{
    color: white;
}
h1{
    text-align: center;
    color: white;
    font-size: 70px;
}
h2{
    text-align: center;
    font-size: xx-large;
}
h3{
    text-align: center;
    font-size: xx-large;
}
h4{
    text-align: center;
    font-size: xx-large;
}
h5{
    text-align: center;
    font-size: xx-large;
}
.FirstPage{
    background-color: #121212;
    padding: 50px;
    margin: 55px;
}