body{
    background-color: black;
}
h1{
    font-style: italic;
    color: cornflowerblue;
    font-family: Gabriola;
}
label{
    color: cornflowerblue;
    font-size: 20px;
    font-family: Ink Free;

}
h2{
    color: white;
    font-family: MingLiU_HKSCS-ExtB;
}
h3{
    color: white;
    font-family: MingLiU_HKSCS-ExtB;
}
h4{
    color: white;
 
}
h5{
    color: white;
    
}
h6{
    color: white;
    
}